$MainGreen: #b2c42d;
$MainBrown: #dcc482;
$MainBlack: #1c2127;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  max-height: 1000px;
}
