@import "./globals.module.scss";

.container {
  @include container();
}

.inner {
  @include inner();
  background-color: $MainGreen;
}

.title {
  font-size: 5rem;
  letter-spacing: 0.3rem;
  color: $MainBlack;
  margin-bottom: 3rem;
}
